/* Estilos generales para el cuerpo de la página */
body {
    padding-top: 56px; /* Espacio para la navbar fija */
}

/* Estilo para el pie de página */
footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Personalización de colores */
:root {
    --bs-primary: #ff5733; /* Color primario personalizado */
    --bs-secondary: #33c1ff; /* Color secundario personalizado */
    --bs-success: #28a745; /* Color de éxito personalizado */
    --bs-info: #17a2b8; /* Color de información personalizado */
    --bs-warning: #ffc107; /* Color de advertencia personalizado */
    --bs-danger: #dc3545; /* Color de peligro personalizado */
    --bs-light: #f8f9fa; /* Color claro personalizado */
    --bs-dark: #343a40; /* Color oscuro personalizado */
}

.navbar {
    background-color: #343a40; /* Color de fondo oscuro */
    padding: 1rem 0; /* Espaciado vertical */
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1589a7;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    color: #190ea8;
    margin: 0 1rem;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #ffc107; /* Color de hover */
}

.navbar-toggler {
    border-color: #c25252;
}

.navbar-toggler-icon {
    background-color: #2f748f;
}

/* Navbar personalizado */
.navbar-custom {
    background-color: #007BFF; /* Un azul vibrante */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white;
}

.navbar-custom .nav-link:hover {
    color: #FFD700; /* Un color dorado al pasar el cursor */
}

/* Estilo personalizado para las cards */
.card {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}


/* Estilo para el carrusel */
.carousel-item img {
    height: 500px; /* Altura de las imágenes en el carrusel */
    object-fit: cover; /* Ajuste de la imagen para cubrir el área del carrusel */
}

/* Estilos para los modales */
.modal-content {
    border-radius: 0; /* Bordes cuadrados para los modales */
}

.modal-header {
    background-color: var(--bs-primary); /* Fondo del encabezado del modal */
    color: #fff; /* Color del texto del encabezado del modal */
}

.modal-footer {
    background-color: var(--bs-light); /* Fondo del pie del modal */
}

/* Media Queries para adaptabilidad */
@media (max-width: 576px) {
    .carousel-item img {
        height: 300px; /* Altura ajustada para pantallas pequeñas */
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .carousel-item img {
        height: 400px; /* Altura ajustada para pantallas medianas */
    }
}

@media (min-width: 769px) {
    .carousel-item img {
        height: 500px; /* Altura por defecto para pantallas grandes */
    }
}
